
/*------- いいねのアニメーション ------*/

/* いいね押される前 */
.like-button{
    border-radius: 25px; /*角の丸さ*/
    transition: all  0.3s ease; /* 変化するまでの時間 */
}
.like-button:hover{
    background: rgb(230, 248, 252);
    transition: all  0.8s ease; /* 変化するまでの時間 */
}

/* いいね押されたとき */
.like-role{
    animation-name: roleLike;
    animation-duration: 0.4s; /* アニメーションの時間 */
    animation-iteration-count: 1;  /* アニメーションの回数 */
    animation-fill-mode: forwards; /* アニメーション終了時で停止 */
    /* animation-iteration-count: infinite; */      /*  テスト用無限繰り返し */
    border-radius: 25px; /*角の丸さ*/
    transition: all  0.3s ease; /* 変化するまでの時間 */
}
.like-role:hover{
    background: rgb(230, 248, 252);
    /* 変化するまでの時間 */
    transition: all  0.8s ease;
}
@keyframes roleLike{
    0%{}
    40%{color: rgb(0, 0, 0);}
    100%{
        transform: rotateZ(-360deg)/* 逆時計回りで1回転 */;
        color: rgb(0, 176, 224) /* 変化後の音符の色 */;
    }
}

/* いいね取り消されたとき */
.cancel-like-role{
    animation-name: cancelRoleLike;
    animation-duration: 0.2s; /* アニメーションの時間 */
    animation-iteration-count: 1;  /* アニメーションの回数 */
    animation-fill-mode: forwards; /* アニメーション終了時で停止 */
    /* animation-iteration-count: infinite; */      /*  テスト用無限繰り返し */
    border-radius: 25px; /*角の丸さ*/
    transition: all  0.3s ease; /* 変化するまでの時間 */
}
.cancel-like-role:hover{
    background: rgb(230, 248, 252);
    transition: all  0.8s ease; /* 変化するまでの時間 */
}
@keyframes cancelRoleLike{
    0%{}
    40%{color: rgb(0, 176, 224);}
    100%{
        transform: rotateZ(360deg)/* 時計回り1回転 */;
        color: rgb(0, 0, 0);
    }
}